<launch>

  <node pkg="point_to_point" name="computer" type="compute_cubic_coeffs.py">
  </node>

  <node pkg="point_to_point" name="generator" type="point_generator.py">
  </node>

  <node pkg="point_to_point" name="planner" type="cubic_traj_planner.py">
  </node>

  <node pkg="point_to_point" name="plotter" type="plot_cubic_traj.py">
  </node>

  <node pkg="rqt_plot" name="rqt_plot" type="rqt_plot"/>
  <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>
</launch>
